<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Languages - Java</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/languages.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple">
    <a class="navbar-brand lang-brand" href="../home.html">Go back</a>
</nav>
<div class="container">
    <h1>Java</h1>
    <div class="row justify-content-center">
        <div id="lang-info" class="col-lg-9 col-md-9 col-sm-12">
            <div id="lang-header" class="row justify-content-center vertical-align">
                <div class="lang-logo col-lg-4 col-md-4 col-sm-4">
                    <img src="../../static/images/java-logo.png" alt="Java logo">
                </div>
                <div class="col-lg-8 cold-mid-8 col-sm-8 text-left">
                    <p class="init-text">
                        <b>Java</b> is a general-purpose computer-programming language that is concurrent, class-based,
                        object-oriented, and specifically designed to have as few implementation dependencies as
                        possible. It is intended to let application developers "write once, run anywhere"
                        meaning that compiled Java code can run on all platforms that support Java without the need for
                        recompilation.
                    </p>
                </div>
            </div>
            <p class="text">
                Java applications are typically compiled to bytecode that can run on any Java virtual machine (JVM)
                regardless of computer architecture. As of 2016, Java is one of the most popular programming languages
                in use, particularly for client-server web applications, with a reported 9 million
                developers. Java was originally developed by James Gosling at Sun Microsystems (which has since been
                acquired by Oracle Corporation) and released in 1995 as a core component of Sun Microsystems' Java
                platform. The language derives much of its syntax from C and C++, but it has fewer low-level facilities
                than either of them.
            </p>
            <p class="text">
                The original and reference implementation Java compilers, virtual machines, and class libraries were
                originally released by Sun under proprietary licenses. As of May 2007, in compliance with the
                specifications of the Java Community Process, Sun relicensed most of its Java technologies under the GNU
                General Public License. Others have also developed alternative implementations of these Sun
                technologies, such as the GNU Compiler for Java (bytecode compiler), GNU Classpath (standard libraries),
                and IcedTea-Web (browser plugin for applets).
            </p>
            <p class="text">
                The latest version is Java 10, released on March 20, 2018, which follows Java 9 after only six
                months in line with the new release schedule. Java 8 is still supported but there will be no more
                security updates for Java 9. Versions earlier than Java 8 are supported by companies on a commercial
                basis; e.g. by Oracle back to Java 6 as of October 2017 (while they still "highly recommend that you
                uninstall" pre-Java 8 from at least Windows computers).
            </p>
            <h3>Short summary:</h3>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td class="bold-col">Paradigm</td>
                    <td>Object-oriented, structured, imperative, generic, reflective, concurrent</td>
                </tr>
                <tr>
                    <td>Designed by</td>
                    <td>James Gosling</td>
                </tr>
                <tr>
                    <td>First appeared</td>
                    <td>May 23, 1995; 23 years ago</td>
                </tr>
                <tr>
                    <td>Stable release</td>
                    <td>3.7.0 / 27 June 2018, 2.7.15 / 1 May 2018</td>
                </tr>
                <tr>
                    <td>Typing discipline</td>
                    <td>Static, strong, safe, nominative, manifest</td>
                </tr>
                <tr>
                    <td>Filename extensions</td>
                    <td>.java, .class, .jar</td>
                </tr>
                <tr>
                    <td>License</td>
                    <td>GNU General Public License, Java Community Process</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>oracle.com/java/</td>
                </tr>
                <tr>
                    <td>Major implementations</td>
                    <td>Compilers: OpenJDK; Virtual machines: OpenJDK JRE, Oracle JRockit, Azul Zing</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>