<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Languages - Python</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/languages.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple">
    <a class="navbar-brand lang-brand" href="../home.html">Go back</a>
</nav>
<div class="container">
    <h1>Python</h1>
    <div class="row justify-content-center">
        <div id="lang-info" class="col-lg-9 col-md-9 col-sm-12">
            <div id="lang-header" class="row justify-content-center vertical-align">
                <div class="lang-logo col-lg-4 col-md-4 col-sm-4">
                    <img src="../../static/images/python-logo.png" alt="Python logo">
                </div>
                <div class="col-lg-8 cold-mid-8 col-sm-8 text-left">
                    <p class="init-text">
                        <b>Python</b> is an interpreted high-level programming language for general-purpose programming.
                        Created by
                        Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code
                        readability, notably using significant whitespace. It provides constructs that enable clear
                        programming
                        on both small and large scales
                    </p>
                </div>
            </div>
            <p class="text">
                Python features a dynamic type system and automatic memory management. It supports multiple programming
                paradigms, including object-oriented, imperative, functional and procedural, and has a large and
                comprehensive standard library
                Python interpreters are available for many operating systems. CPython, the reference implementation of
                Python, is open source software and has a community-based development model, as do nearly all of
                Python's other implementations. Python and CPython are managed by the non-profit Python Software
                Foundation.
            </p>
            <p class="text">
                Python was conceived in the late 1980s, and its implementation began in December 1989 by Guido
                van Rossum at Centrum Wiskunde & Informatica (CWI) in the Netherlands as a successor to the ABC language
                capable of exception handling and interfacing with the Amoeba operating
                system. Van Rossum remains Python's principal author. His continuing central role in Python's
                development is reflected in the title given to him by the Python community: Benevolent Dictator For Life
                (BDFL) – a post from which he gave himself permanent vacation on July 12, 2018.
            </p>
            <p class="text">
                Python 2.0 was released on 16 October 2000 and had many major new features, including a cycle-detecting
                garbage collector and support for Unicode. With this release, the development process became more
                transparent and community-backed.
                Python 3.0 (initially called Python 3000 or py3k) was released on 3 December 2008 after a long testing
                period. It is a major revision of the language that is not completely backward-compatible with previous
                versions. However, many of its major features have been backported to the Python 2.6.x and 2.7.x
                version series, and releases of Python 3 include the 2to3 utility, which automates the translation of
                Python 2 code to Python 3.
            </p>
            <h3>Short summary:</h3>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td class="bold-col">Paradigm</td>
                    <td>Object-oriented, imperative, functional, procedural, reflective</td>
                </tr>
                <tr>
                    <td>Designed by</td>
                    <td>Guido van Rossum</td>
                </tr>
                <tr>
                    <td>First appeared</td>
                    <td>1990</td>
                </tr>
                <tr>
                    <td>Stable release</td>
                    <td>3.7.0 / 27 June 2018, 2.7.15 / 1 May 2018</td>
                </tr>
                <tr>
                    <td>Typing discipline</td>
                    <td>Duck, dynamic, strong, since version 3.5: Gradual</td>
                </tr>
                <tr>
                    <td>Filename extensions</td>
                    <td> .py, .pyc, .pyd, .pyo (prior to 3.5), .pyw, .pyz (since 3.5)</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>python.org</td>
                </tr>
                <tr>
                    <td>Major implementations</td>
                    <td>CPython, IronPython, Jython, MicroPython, Numba, PyPy, Stackless Python</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>