<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Languages - Scala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/languages.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple">
    <a class="navbar-brand lang-brand" href="../home.html">Go back</a>
</nav>
<div class="container">
    <h1>Scala</h1>
    <div class="row justify-content-center">
        <div id="lang-info" class="col-lg-9 col-md-9 col-sm-12">
            <div id="lang-header" class="row justify-content-center vertical-align">
                <div class="lang-logo col-lg-4 col-md-4 col-sm-4">
                    <img src="../../static/images/scala-logo.svg" alt="Scala logo">
                </div>
                <div class="col-lg-8 cold-mid-8 col-sm-8 text-left">
                    <p class="init-text">
                        <b>Scala</b> is a general-purpose programming language providing support for
                        functional programming and a strong static type system. Designed to be concise, many of
                        Scala's design decisions aimed to address criticisms of Java.
                    </p>
                </div>
            </div>
            <p class="text">
                Scala source code is intended to be compiled to Java bytecode, so that the resulting executable code
                runs on a Java virtual machine. Scala provides language interoperability with Java, so that libraries
                written in both languages may be referenced directly in Scala or Java code. Like Java, Scala is
                object-oriented, and uses a curly-brace syntax reminiscent of the C programming language. Unlike Java,
                Scala has many features of functional programming languages like Scheme, Standard ML and Haskell,
                including currying, type inference, immutability, lazy evaluation, and pattern matching. It also has an
                advanced type system supporting algebraic data types, covariance and contravariance, higher-order types
                (but not higher-rank types), and anonymous types. Other features of Scala not present in Java include
                operator overloading, optional parameters, named parameters, and raw strings. Conversely, a feature of
                Java not in Scala is checked exceptions, which have proved controversial.
            </p>
            <p class="text">
                The design of Scala started in 2001 at the École Polytechnique Fédérale de Lausanne (EPFL) (in Lausanne,
                Switzerland) by Martin Odersky. It followed on from work on Funnel, a programming language combining
                ideas from functional programming and Petri nets. Odersky formerly worked on Generic Java, and
                javac, Sun's Java compiler.
                After an internal release in late 2003, Scala was released publicly in early 2004 on the Java
                platform, A second version (v2.0) followed in March 2006.
                Although Scala had extensive support for functional programming from its inception, Java remained a
                mostly object-oriented language until the inclusion of lambda expressions with Java 8 in 2014.
                On 17 January 2011, the Scala team won a five-year research grant of over €2.3 million from the European
                Research Council. On 12 May 2011, Odersky and collaborators launched Typesafe Inc. (later renamed
                Lightbend Inc.), a company to provide commercial support, training, and services for Scala. Typesafe
                received a $3 million investment in 2011 from Greylock Partners.
            </p>
            <h3>Short summary:</h3>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td class="bold-col">Paradigm</td>
                    <td>Functional, object-oriented, imperative, concurrent</td>
                </tr>
                <tr>
                    <td>Designed by</td>
                    <td>Martin Odersky</td>
                </tr>
                <tr>
                    <td>First appeared</td>
                    <td>20 January 2004; 14 years ago</td>
                </tr>
                <tr>
                    <td>Stable release</td>
                    <td>2.12.6 27 April 2018; 2 months ag</td>
                </tr>
                <tr>
                    <td>Typing discipline</td>
                    <td>Static, strong, inferred, structural</td>
                </tr>
                <tr>
                    <td>Filename extensions</td>
                    <td>.scala, .sc</td>
                </tr>
                <tr>
                    <td>License</td>
                    <td>BSD 3-clause</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>scala-lang.org</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>