<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read&Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/layout.css" type="text/css">
</head>
<body class="text-center" cz-shortcut-listen="true">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Read&Review</h3>
            <nav class="nav nav-masthead justify-content-center">
                {% if g.user.is_authenticated %}
                    <a class="nav-item nav-link" href={{ url_for('search') }}>Find book</a>
                    <a class="nav-item nav-link" href={{ url_for('logout') }}>Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href={{ url_for('login') }}>Sign in</a>
                    <a class="nav-item nav-link" href={{ url_for('register') }}>Sign up</a>
                {% endif %}
            </nav>
        </div>
    </header>

    {% block main %}
    {% endblock %}

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Project 1 - Harvard's cs50 course</p>
        </div>
    </footer>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>