<link rel="stylesheet" href="../static/styles/login.css" type="text/css">

{% extends "layout.html" %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="post">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>
                <div class="login-form">
                    {% from "_forms.html" import render_bootstrap_field %}
                    {{ form.csrf_token }}
                    {{ render_bootstrap_field(form.username) }}
                    {{ render_bootstrap_field(form.password) }}
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}